

  <% stars = product.get_stars %>
  <div class="short_rating">
   <h2><%= link_to( "AVIS DES INTERNAUTES <span class='small'>(#{ pluralize(stars[1], 'Avis')})</span>", {:controller => 'reviews', :action => 'index', :id => product.id}) %></h2>
   <div class="stars-rating">
      <span title="<%=pluralize(stars[0], 'star')%> out of 5">
        <%= render :partial => "reviews/stars",:locals=>{:number=>stars[0],:disabled=>true,:review=>unique_id} %>
      </span>
    </div>
  </div>


<% content_for :head do %>
  <%= javascript_include_tag("jquery.rating.js") %>
  <%= stylesheet_link_tag 'reviews.css' %>
  <%= javascript_tag("$(document).ready(function(){$('.stars').rating({required:true});});") %>
<% end %>