<div class="review">

  <span class="ui-float-right" title="<%=pluralize(review.rating, 'star')%> out of 5">
     <%= render :partial => "reviews/stars",:locals=>{:number=>review.rating,:review=>review,:disabled=>true} %>
  </span>
  <span class="title"><%=h review.title%></span>
  <p class="content">
    <%=h review.review%>
  </p>
  <p><span class="bottom_bulle"><img src="/images/layout/bas_bulle.png"/></span><strong><%=h review.name %></strong> le <%= l review.created_at %></p>
</div>
