<% content_for :sidebar do %>
  <%= render :partial=>"/shared/left_menu" %>
<% end %>

<% content_for :head do %>
  <% set_title("Commentaire #{@product.name}") %>
<% end %>

<% @reviews=Review.approved.find_all_by_product_id(@product.id) %>
<div id="reviews">
  <h1 class="title"><%= "Commentaire #{@product.name}" %></h1>

  <%= render :partial => 'rating', :locals => {:product => @product,:readonly=>true,:comment_title=>""} %>

  <%= button_icon("Revenir à la fiche produit",seo_url(nil,@product),"ui-icon-circle-arrow-w") %>
  <%= button_icon(t('write_your_own_review'), {:controller => 'reviews', :action => 'submit', :id => @product.id},"ui-icon-circle-plus",:rel=>"nofollow") %>
  <br/>

  <% for review in @reviews %>
    <%= render :partial => 'review', :locals => {:review => review} %>
  <% end %>

  <% if @reviews.size>0 %>
    <br/>
    <%= button_icon("Revenir à la fiche produit",seo_url(@product),"ui-icon-circle-arrow-w") %>
    <%= button_icon(t('write_your_own_review'), {:controller => 'reviews', :action => 'submit', :id => @product.id},"ui-icon-circle-plus",:rel=>"nofollow") %>
  <% end %>

</div>
