<% content_for :sidebar do %>
	<%= render :partial => "shared/taxonomies" %>
<% end %>



<% form_for 'review', :url => {:action => 'create'} do |f| %>
  <%= error_messages_for :review %>
  <%= f.hidden_field :product_id, :value => @product.id %>     
  <div class="ui-tabs ui-widget-content ui-corner-all ui-bloc">
    <div class="ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
      <%= "#{t("leave_us_a_review")}  #{@product.name}" %>
    </div>
    <table cellspacing="0" cellpadding="2">
	<tbody>
	<tr valign="top">
	    <td style="padding-top: 5px; padding-bottom: 5px;" class="fieldtitle right nowrap">
		<strong><%= t('rating') %></strong>
	    </td>
	    <td style="padding-top: 5px; padding-bottom: 5px;">
          <%= render :partial => "reviews/stars",:locals=>{:number=>5} %>
	    </td>
	</tr>
 	<tr valign="top">
	    <td class="fieldtitle right nowrap">
		<%= f.label :name, "<strong>#{t('name')}</strong>" %>
	    </td>
	    <td>
		<%= f.text_field :name, :maxlength => "60", :size => "50", :value => '' %>
	    </td>
	</tr>
	<tr valign="top">
	    <td class="fieldtitle right nowrap">
		<%= f.label :title, "<strong>#{t('title')}</strong>" %>
	    </td>
	    <td>
		<%= f.text_field :title, :maxlength => "255", :size => "50", :value => '' %>
	    </td>
	</tr>
	<tr valign="top">
	    <td class="fieldtitle right nowrap" style="vertical-align:top">
		<%= f.label :review, "<strong>#{t('content')}</strong>" %>
	    </td>
	    <td>
		<%= f.text_area :review, :wrap => "virtual", :rows => "10", :cols => "50" %>
	    </td>
	</tr>
	<tr>
	    <td> </td>
	    <td style="padding-top: 5px;">
		<%#= f.submit "Submit your review", :class => "button" %>
         <button type="submit" class="ui-state-default ui-corner-all ui-button"><span class="ui-icon ui-icon-check"></span><%= t("submit_your_review") %></button>
	    </td>
	</tr>
    </tbody></table>
  </div>
<% end %>

<br/>
<ul>
    <li>Les commentaires sont soumis a validation.
    <li>Ils ne seront visible au plus tard que deux jours arpres leur soumission.
</ul>


<% content_for :head do %>
  <%= javascript_include_tag("jquery.rating.js") %>
  <%= javascript_tag("$(document).ready(function(){$('.stars').rating({required:true});});") %>
<% end %>
